body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
  width: 100vw;
  position: -webkit-sticky, sticky;
  background-color: #f0efee;
  padding-top: 2vh;
  padding-bottom: 2vh;



}

nav {
  padding-left: 2vw;
}

nav>a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(8, 8, 8);
  margin-right: auto;
  padding: 10px;
  text-decoration: none;
}


#socials {
  padding-right: 3vw;
}

#socials>a>img {
  width: 2vw;
}



.hero-container {
  text-align: center;
  clear: both;
}


#hero-image {

  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(33%);
  opacity: 55%;

}

#hero-left {
  position: absolute;
  top: 55%;
  bottom: 50%;
  left: 10%;
}


.center {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  bottom: 50%;
  left: 45%;
  right: 45%;
  color: rgb(27, 27, 27);
  text-align: center;
  align-items: center;
}

.center>h1 {
  font-weight: 200;
  font-size: 4vw;
  white-space: nowrap;
}



.center>#location {
  display: inline-flex;
  align-items: center;

}

.center>#location>img {
  width: 3vw;
}



.center>#location>a>h2 {
  display: inline-flex;
  margin: 0;
  white-space: nowrap;
  text-decoration: none;
  color: rgb(27 27 27);
}

#hero-right {
  position: absolute;
  top: 55%;
  bottom: 50%;
  right: 10%;
}

.spacer {
  background-color: #f0efee;
  height: 12vh;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.intro {
  display: flex;
  height: 45vh;
  background-color: #f0efee;
  ;

}

.intro>.intro-left {
  width: 50vw;
  display: flex;
  justify-content: end;

}



.intro>.intro-right {
  width: 50vw;
}

#browntrout {
  filter: grayscale(100%);
  width: 25vw;
  object-fit: cover;
  padding: 4vw;

}