body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

header {
  width: 100vw;
  position: sticky;
  background-color: #fcfcfd;
  display: flex;
  align-items: center;


}

nav {
  padding-left: 2vw;
}

nav>a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(8, 8, 8);
  margin-right: auto;
  padding: 10px;
  text-decoration: none;
}


#socials {
  margin-left: auto;
  padding-right: 2vw;
}

#socials>a>img {
  width: 3vw;
}

.left-container {
  width: 50vw;
  display: flex;
}

#long-pic {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

#long-pic>img {
  width: 100%;
  height: 100%;
  ;
  object-fit: cover;
}